@use './variables' as v;

@mixin gradient-with-icon($grad-color, $color-light, $color-dark, $circle-size, $element: '') {
    background-image: $grad-color;
    &::before,
    &::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        @if $circle-size == large {
            width: 8rem;
            height: 8rem;
        }
        @if $circle-size == small {
            width: 6.4rem;
            height: 6.4rem;
        }
    }
    &::before {
        background-color: $color-light;
        // background-color: transparent;
        transition: all 0.2s;
    }

    @if ($element == 'btn') {
        &:hover {
            background: $color-dark;
            &::before {
                background-color: $color-dark;
            }
        }
    }
}

@mixin hover-overlay {
    &::after {
        // overlay
        content: '';
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: all 0.4s;
    }

    &:hover {
        cursor: pointer;

        &::after {
            opacity: 1;
        }
    }
}

@mixin text-colors {
    &--blue-l {
        color: v.$color-blue-light;
    }
    &--blue-d {
        color: v.$color-blue-dark;
    }
    &--green-l {
        color: v.$color-green-light;
    }
    &--green-d {
        color: v.$color-green-dark;
    }
    &--yellow-l {
        color: v.$color-yellow-light;
    }
    &--yellow-d {
        color: v.$color-yellow-dark;
    }
}

@mixin heading-text {
    color: v.$color-blue-dark;
    font-weight: 700;
    // margin: 6rem 0 2.5rem;
    margin-top: 6rem;
    margin-right: 0;
    margin-bottom: 2.5rem;
    margin-left: 0;
}

@mixin normal-text($line-height, $font-weight: null) {
    color: v.$color-white;
    font-family: v.$font-secondary;
    font-size: 2rem;
    line-height: #{$line-height}rem;

    @if ($font-weight) {
        font-weight: $font-weight;
    }
}

@mixin section-with-card-slider {
    display: grid;
    grid-template-rows: min-content 57rem;

    @include respond(screen_1200) {
        grid-template-rows: min-content 40rem;
    }

    .cards {
        grid-row: 2 / -1;
    }
}

@mixin menu-icon {
    &::after {
        content: '';
        background: url(v.$icon-greater) center center no-repeat;
        transform: rotate(90deg);
        width: 2rem;
        height: 2.3rem;
        background-size: 9px;
        margin-left: 7px;
    }
}

@mixin sticky-offset {
    &.sticky {
        top: 2.1rem;
        right: 8rem;

        @include respond(screen_500) {
            right: 1.5rem;
        }
    }
}

@mixin teaser($type) {
    @if ($type == narrow) {
        max-height: 64rem;
        max-width: 51rem;

        @include respond(screen_767) {
            max-height: 36.4rem;
            max-width: 100%;
        }
    }
    @if ($type == large) {
        max-height: 50.3rem;
        max-width: 68.5rem;
        margin-left: auto;

        @include respond(screen_900) {
            max-height: 25.4rem;
        }

        @include respond(screen_767) {
            max-height: 26.4rem;
        }
    }
}

@mixin background-shape($shape, $color) {
    content: '';
    background-image: url(#{v.$theme-path}/img/shapes/maski-shape-#{$shape}-#{$color}-dark.svg);
    background-position: center center;
    background-repeat: no-repeat;
    // background-size: 175rem;
    position: absolute;
    z-index: -2;
}

@mixin path-illustration {
    content: '';
    position: absolute;
    z-index: -1;
}

@mixin icon($icon, $color: v.$color-white, $size: auto, $position: center center) {
    $svg: '';
    @if ($icon == facebook) {
        $svg: '<svg width="15" height="28" viewBox="0 0 15 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.74454 28V15.2487H14.187L14.8474 10.2561H9.74454V7.07604C9.74454 5.63537 10.1591 4.64899 12.2943 4.64899H15V0.19785C13.6835 0.0612367 12.3603 -0.00472655 11.0363 0.000263189C7.10958 0.000263189 4.41356 2.32152 4.41356 6.58285V10.2468H0V15.2393H4.4232V28H9.74454Z" fill="%23' + str-slice('#{$color}', 2) + '"/></svg>';
    }

    @if ($icon == instagram) {
        $svg: '<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99731 6.66671C8.16111 6.66671 6.66262 8.16522 6.66262 10.0015C6.66262 11.8377 8.16111 13.3362 9.99731 13.3362C11.8335 13.3362 13.332 11.8377 13.332 10.0015C13.332 8.16522 11.8335 6.66671 9.99731 6.66671ZM19.9989 10.0015C19.9989 8.62053 20.0114 7.25211 19.9338 5.87368C19.8563 4.27259 19.4911 2.85163 18.3203 1.68084C17.147 0.50755 15.7286 0.144805 14.1275 0.0672529C12.7466 -0.0102995 11.3782 0.00220896 9.99981 0.00220896C8.61891 0.00220896 7.25051 -0.0102995 5.8721 0.0672529C4.27105 0.144805 2.85012 0.510052 1.67935 1.68084C0.506076 2.85414 0.143338 4.27259 0.0657868 5.87368C-0.0117642 7.25461 0.000744099 8.62303 0.000744099 10.0015C0.000744099 11.3799 -0.0117642 12.7508 0.0657868 14.1293C0.143338 15.7303 0.508578 17.1513 1.67935 18.3221C2.85262 19.4954 4.27105 19.8581 5.8721 19.9357C7.25301 20.0132 8.62141 20.0007 9.99981 20.0007C11.3807 20.0007 12.7491 20.0132 14.1275 19.9357C15.7286 19.8581 17.1495 19.4929 18.3203 18.3221C19.4936 17.1488 19.8563 15.7303 19.9338 14.1293C20.0139 12.7508 19.9989 11.3824 19.9989 10.0015ZM9.99731 15.1324C7.15795 15.1324 4.86644 12.8409 4.86644 10.0015C4.86644 7.16205 7.15795 4.8705 9.99731 4.8705C12.8367 4.8705 15.1282 7.16205 15.1282 10.0015C15.1282 12.8409 12.8367 15.1324 9.99731 15.1324ZM15.3383 5.85867C14.6754 5.85867 14.14 5.3233 14.14 4.66036C14.14 3.99741 14.6754 3.46205 15.3383 3.46205C16.0013 3.46205 16.5366 3.99741 16.5366 4.66036C16.5368 4.81778 16.5059 4.97369 16.4458 5.11916C16.3856 5.26464 16.2974 5.39682 16.1861 5.50813C16.0748 5.61944 15.9426 5.7077 15.7971 5.76785C15.6516 5.828 15.4957 5.85886 15.3383 5.85867Z" fill="%23' + str-slice('#{$color}', 2) + '"/></svg>';
    }

    @if ($icon == instagram-2) {
        $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" fill="none"><path d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h14c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2zM9.984 15.523a5.54 5.54 0 0 0 5.538-5.539c0-.338-.043-.664-.103-.984H17v7.216a.69.69 0 0 1-.693.69H3.693a.69.69 0 0 1-.693-.69V9h1.549c-.061.32-.104.646-.104.984a5.54 5.54 0 0 0 5.539 5.539zM6.523 9.984a3.46 3.46 0 1 1 6.924 0c0 1.912-1.551 3.462-3.462 3.462a3.46 3.46 0 0 1-3.462-3.462zM16.307 6h-1.615C14.31 6 14 5.688 14 5.308V3.691A.69.69 0 0 1 14.691 3h1.615a.69.69 0 0 1 .694.691v1.616c0 .381-.31.693-.693.693z" fill="%23' + str-slice('#{$color}', 2) + '"/></svg>';
    }

    @if ($icon == question) {
        $svg: '<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.9288 3.1759e-05H2.09732C1.82183 -0.000185791 1.549 0.0505803 1.29444 0.149425C1.03987 0.248271 0.808576 0.393255 0.613775 0.576083C0.418975 0.758911 0.264497 0.975994 0.159179 1.21491C0.0538605 1.45383 -0.000231054 1.70989 7.4183e-07 1.96845V20.0316C-0.000231054 20.2901 0.0538605 20.5462 0.159179 20.7851C0.264497 21.024 0.418975 21.2411 0.613775 21.4239C0.808576 21.6068 1.03987 21.7518 1.29444 21.8506C1.549 21.9495 1.82183 22.0002 2.09732 22H18.9023C19.1778 22.0002 19.4507 21.9495 19.7052 21.8506C19.9598 21.7518 20.1911 21.6068 20.3859 21.4239C20.5807 21.2411 20.7352 21.024 20.8405 20.7851C20.9458 20.5462 20.9999 20.2901 20.9997 20.0316V1.96845C21.0047 1.71074 20.9548 1.45468 20.8528 1.21535C20.7509 0.976009 20.599 0.758228 20.406 0.574816C20.2131 0.391404 19.983 0.246066 19.7293 0.147355C19.4756 0.0486446 19.2034 -0.00144576 18.9288 3.1759e-05ZM10.3403 17.6695C9.35335 17.6695 8.56377 17.1137 8.56377 16.1394C8.56377 15.1651 9.35335 14.6093 10.3403 14.6093C11.3273 14.6093 12.1169 15.142 12.1169 16.1394C12.1169 17.1368 11.3273 17.6695 10.3403 17.6695ZM15.0038 9.05641C14.8534 9.39907 14.6624 9.72478 14.4345 10.0274C14.1976 10.3049 13.9338 10.5613 13.6467 10.7932C13.3753 11.0248 13.0792 11.2332 12.8324 11.4417C12.518 11.6708 12.2434 11.9442 12.0182 12.2522C11.836 12.4906 11.7253 12.7705 11.6974 13.0627C11.6727 13.248 11.5247 13.3869 11.3273 13.3869H9.27933C9.05902 13.3869 8.88277 13.2017 8.90921 13.0147C8.92818 12.7486 8.97782 12.4852 9.05726 12.229C9.1488 11.9132 9.29852 11.6148 9.49963 11.3474C9.6703 11.0903 9.87787 10.8566 10.1165 10.6526C10.3289 10.4487 10.5601 10.2627 10.8074 10.0969C11.1805 9.83357 11.5274 9.53903 11.8437 9.21686C12.1398 8.91539 12.2878 8.56844 12.2878 8.12844C12.2911 7.93917 12.2534 7.75124 12.1771 7.57603C12.1008 7.40082 11.9873 7.24197 11.8437 7.10908C11.5476 6.83146 11.1281 6.69265 10.5853 6.69265C10.1266 6.68748 9.67781 6.81766 9.30224 7.06483C8.98147 7.2716 8.78408 7.57431 8.68538 8.01596C8.66431 8.09377 8.61677 8.16301 8.54998 8.21316C8.48318 8.26332 8.40077 8.29165 8.31526 8.29385H6.19503C5.97472 8.29385 5.82491 8.06227 5.84959 7.85385C5.92361 7.25175 6.12101 6.69596 6.34308 6.34859C6.61622 5.92973 6.97719 5.56731 7.40407 5.28333C7.85538 4.98565 8.35462 4.7578 8.88277 4.60845C9.45028 4.44634 10.0425 4.37687 10.7087 4.37687C11.3438 4.37358 11.9759 4.45944 12.5839 4.6316C13.1049 4.77292 13.5911 5.00898 14.015 5.32634C14.3991 5.62339 14.7105 5.99462 14.928 6.41476C15.1483 6.8316 15.2488 7.31792 15.2488 7.85055C15.2241 8.29055 15.1501 8.68423 15.002 9.05475L15.0038 9.05641Z" fill="%23' + str-slice('#{$color}', 2) + '"/></svg>';
    }

    @if ($icon == search) {
        $svg: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.3257 12.8987L19.7057 18.2787C19.8948 18.468 20.001 18.7246 20.0009 18.9921C20.0008 19.2596 19.8945 19.5161 19.7052 19.7052C19.516 19.8943 19.2594 20.0005 18.9919 20.0004C18.7244 20.0003 18.4678 19.894 18.2787 19.7047L12.8987 14.3247C11.2905 15.5704 9.26802 16.1566 7.24287 15.9641C5.21772 15.7716 3.34198 14.8148 1.99723 13.2884C0.652477 11.7619 -0.0602651 9.78056 0.00399633 7.74729C0.0682577 5.71402 0.904695 3.7816 2.34315 2.34315C3.7816 0.904695 5.71402 0.0682577 7.74729 0.00399633C9.78056 -0.0602651 11.7619 0.652477 13.2884 1.99723C14.8148 3.34198 15.7716 5.21772 15.9641 7.24287C16.1566 9.26802 15.5704 11.2905 14.3247 12.8987H14.3257ZM8.00074 13.9997C9.59204 13.9997 11.1182 13.3676 12.2434 12.2424C13.3686 11.1172 14.0007 9.59104 14.0007 7.99974C14.0007 6.40845 13.3686 4.88232 12.2434 3.7571C11.1182 2.63189 9.59204 1.99974 8.00074 1.99974C6.40944 1.99974 4.88332 2.63189 3.7581 3.7571C2.63289 4.88232 2.00074 6.40845 2.00074 7.99974C2.00074 9.59104 2.63289 11.1172 3.7581 12.2424C4.88332 13.3676 6.40944 13.9997 8.00074 13.9997Z" fill="%23' + str-slice('#{$color}', 2) + '"/></svg>';
    }

    @if ($icon == heart) {
        $svg: '<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.94048e-08 5.40141C-0.000122982 4.68378 0.142796 3.97332 0.420403 3.31156C0.69801 2.6498 1.10474 2.05001 1.61681 1.54724C2.12889 1.04448 2.73604 0.648823 3.40279 0.383404C4.06953 0.117985 4.78249 -0.0118751 5.5 0.00141435C6.34896 -0.00309414 7.18919 0.172884 7.96499 0.517685C8.74079 0.862486 9.43445 1.36824 10 2.00141C10.5655 1.36824 11.2592 0.862486 12.035 0.517685C12.8108 0.172884 13.651 -0.00309414 14.5 0.00141435C15.2175 -0.0118751 15.9305 0.117985 16.5972 0.383404C17.264 0.648823 17.8711 1.04448 18.3832 1.54724C18.8953 2.05001 19.302 2.6498 19.5796 3.31156C19.8572 3.97332 20.0001 4.68378 20 5.40141C20 10.7574 13.621 14.8014 10 18.0014C6.387 14.7744 7.94048e-08 10.7614 7.94048e-08 5.40141Z" fill="%23' + str-slice('#{$color}', 2) + '"/></svg>';
    }

    background: url('data:image/svg+xml;utf8,#{$svg}') $position/#{$size} no-repeat;
}

@mixin respond($breakpoint, $minmax: max) {
    @if $breakpoint == screen_1920 {
        @media only screen and (#{$minmax}-width: 120em) {
            @content;
        } // <= 1920px
    }

    @if $breakpoint == screen_1440 {
        @media only screen and (#{$minmax}-width: 90em) {
            @content;
        } // <= 1440px
    }

    @if $breakpoint == screen_1200 {
        @media only screen and (#{$minmax}-width: 75em) {
            @content;
        } // <= 1200px
    }

    @if $breakpoint == screen_900 {
        @media only screen and (#{$minmax}-width: 56.25em) {
            @content;
        } // <= 900px
    }

    @if $breakpoint == screen_767 {
        @media only screen and (#{$minmax}-width: 47.9em) {
            @content;
        } // <= 767px
    }

    @if $breakpoint == screen_500 {
        @media only screen and (#{$minmax}-width: 31.25em) {
            @content;
        } // <= 500px
    }

    @if $breakpoint == screen_375 {
        @media only screen and (max-width: 23.4em) {
            @content;
        } // <= 375px
    }

    @if $breakpoint == screen_1800 {
        @media only screen and (min-width: 112.5em) {
            @content;
        } // >= 1800px
    }
}
