@use '../abstracts' as a;

.main {
    grid-column: content-start / content-end;
    grid-row: content-start / content-end;
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 123rem;

    @include a.respond(screen_1440) {
        //max-width: 123rem;
    }
}
