@use '../abstracts' as a;

.tm-brochure {
    
    &__listing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        column-gap: 3.2rem;

        @include a.respond(screen_767) {
            grid-template-columns: 1fr;
        }

        .card {
            &:nth-child(even) {
                margin-top: 30rem;
            }

            @include a.respond(screen_1200) {
                &:nth-child(even) {
                    margin-top: 10rem;
                }                
            }

            @include a.respond(screen_767) {
                margin: 0 auto;
            }

        }

    }

}