@use '../abstracts' as a;
    
.features {
    display: grid;
    grid-template-columns: repeat(3, minmax(24rem, 1fr));
    // justify-content: space-between;
    column-gap: 2.4rem;

    @include a.respond(screen_900) {
        grid-template-columns: 1fr;
        row-gap: 10rem;
    }

}

.feature {
    max-width: 39rem;
    display: grid;
    row-gap: 2rem;

    &__image {
        border-radius: a.$tm-border-radius;
        width: 100%;
        height: 39rem;
    }

    &__btn {
        max-width: 25rem;
    }

}

