@use '../abstracts' as a;

.tm-overlay {
    position: absolute;
    background-color: a.$color-blue-dark;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: fadeInTransparent .3s forwards ease-in-out;
    z-index: 50;
}

.tm-modal {
    width: 70vw;
    max-width: 110rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: a.$color-white;
    border-radius: a.$tm-border-radius;
    z-index: 50;
    padding: 3.5rem;
    opacity: 0;
    animation: fadeIn .5s forwards ease-in-out .3s;

    @include a.respond(screen_1440) {
        width: 80vw;
    }

    @include a.respond(screen_767) {
        width: 90vw;
    }

    @include a.respond(screen_500) { 
        padding: 2.4rem 2.4rem 5rem 2.4rem;
        height: 70vh;
        overflow-y: scroll;
        // top: 3rem;
        transform: translate(-50%, -50%);
    }

    &__close {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 2.2rem;
        right: 2.2rem;
        cursor: pointer;
        color: a.$color-blue-dark;
        transition: all .2s;

        &:hover {
            color: a.$color-blue-light;
        }

        &::before {
            content: '\2573';
            font-size: 2.4rem;            
        }

    }

    &__title,
    &__subtitle {
        margin: 0;
        color: a.$color-blue-dark;        
        text-align: center;

        @include a.respond(screen_500) { 
            text-align: left;
        }

    }

    &__header {
        display: grid;
        row-gap: 1rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 2.8rem;

        &--secondary {
            font-size: 1.8rem;
            text-align: left;
            text-transform: initial;
            line-height: 1.2;
            color: a.$color-blue-dark;
            margin-bottom: 0;
        }

    }

    &__subtitle {
        font-size: 1.8rem;
        font-family: a.$font-secondary;
        font-weight: 400;
        line-height: 1.8rem;
        /*
        margin-bottom: 1rem;

        @include a.respond(screen_500) { 
            font-size: 1.8rem;
            line-height: 2rem;
        }
        */

    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem 2rem;
        margin-top: 3rem;

        &--single {
            justify-content: center;
            grid-template-columns: minmax(min-content, 85rem);
        }

    }

    &__item {
        display: grid;
        grid-template-columns: 20rem 1fr;
        grid-gap: 1rem;

        &--single {
            grid-template-columns: 30rem 1fr;
        }


        @include a.respond(screen_1200) {            
            grid-template-columns: 17rem 1fr;
            grid-gap: 2rem;
            grid-column: span 2;
        }

        @include a.respond(screen_500) { 
            grid-template-columns: 1fr;
        }

    }

    &__desc {
        display: grid;
        row-gap: 2rem;
        padding: 1rem;
        // grid-template-rows: max-content 1fr 5rem;

        p {
            margin-bottom: 0;

            @include a.respond(screen_767) {
                font-size: 1.8rem;
                line-height: 2.4rem;
            }

        }

    }

    &__cta {
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 1.3rem 0;
        color: #fff;
        background-color: a.$color-blue-dark;
        display: inline-block;
        font-family: a.$font-primary;
        font-size: 1.6rem;
        transition: all .2s;

        &:hover {
            background-color: a.$color-blue-light;
        }

    }

}