@use '../abstracts' as a;

.slider {
    grid-row: header-start / header-end;
    width: 100%;
    // height: 95rem;
    position: absolute;
    top: 0;
    left: 0;
}

.slide {
    z-index: -3;
    // grid-column: 1 / -1;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 95rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include a.respond(screen_1200, min) {
        background-attachment: fixed;
    }

    @include a.respond(screen_1920) {
        height: 100rem;
    }

    @include a.respond(screen_1200) {
        height: 85rem;
    }

    @include a.respond(screen_767) {
        height: 60rem;
    }

    &-01 {
        background-image: url('#{a.$placeholder-path}/slide-home-1.jpg');
    }
}
