*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.tm-meta-box input:not([type=checkbox]),
.tm-meta-box textarea {
  min-width: 400px;
  max-width: 100%;
}

.form-table td {
  vertical-align: top;
}

/* Meta Boxes */
#editor .form-table input,
#editor .form-table textarea {
  width: 60rem;
  max-width: 100%;
}

/* Media Uploader */
.tm-media-upload {
  display: inline-block;
}
.tm-media-upload__preview {
  display: grid;
  grid-template-columns: 20rem min-content;
  margin: 2rem 0;
}
.tm-media-upload__preview-image {
  height: 20rem;
  display: none;
  background-size: cover;
}
.tm-media-upload__preview-image.visible {
  display: block;
}
.tm-media-upload__preview-remove {
  display: none;
  cursor: pointer;
}
.tm-media-upload__preview-remove.visible {
  display: block;
}

.tm-media-image {
  display: grid;
  grid-template-columns: 200px min-content;
  align-items: flex-start;
}

.tm-media-image__preview {
  max-width: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px 0;
}

.tm-media-image__preview.visible {
  height: 200px;
}

.tm-media-remove {
  display: none;
}

.tm-media-remove.visible {
  display: block;
}